*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

html,body{
      height:100%;
      width:100%;
      background-color:#ffffff;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      overflow-x:hidden;
    }

h1{
    font-size: 32px;
}

h2{
    font-size: 24px;
    
}

.box-title{
    font-size:120%;
    margin-bottom: 24px;
    margin-top:24px;
}

#container{
    width:100%;
    height:100vh;
    text-align:center; 
}

#box-wrapper{
    margin:0 auto;
    padding-left: 40px;
    padding-right: 40px;

    display:flex;
    justify-content: space-between;
    align-items: stretch; 
    gap:40px; 
    flex-wrap: wrap;
}

.box{

    flex: 1 1 300px;
    
    background-color:#999999;
    border: 3px solid #000000;
    border-radius: 4px;
    box-shadow:rgba(149, 157, 165, 0.2) 0px 8px 24px;;
    align-items:stretch;

    padding:60px 20px 20px 20px;
    text-align: left;

    height: auto;
    min-height: 300px;


    position: relative; 
}

.label{
    position: absolute;    
    top: -2px;                
    right: -2px;              

    border:3px solid #000000;
   

    font-size:120%;
    text-align:right;
    background-color: aqua;
    padding:8px;

    z-index: 1;
}

.text{
    line-height:22px;
    flex:1 1 auto;
  
}


.box-title{
    margin-bottom: 24px;
    margin-top:24px;
}

.color1{
    background-color:#D59897;
}

.color2{
    background-color:#C14543;
     color:#ffffff;
}

.color3{
    background-color:#E5D198;
}



/* //////////////////////////////////////////////// */

@media (max-width: 1200px) {
  #box-wrapper {
    padding-left: 40px;
    padding-right: 40px;
    gap: 30px; 
  }
  .box {
    flex: 1 1 calc(50% - 15px);
    min-height: 280px;
  }
}


@media (max-width: 991px) {
  #box-wrapper{
    padding-left: 30px;
    padding-right: 30px;
    gap:30px; 
  }
  
  .box {
    flex: 1 1 calc(50% - 15px);
    min-height: 250px;
  }
}


@media (max-width: 767px) {

    #box-wrapper{
    padding-left: 20px;
    padding-right: 20px;
    gap:20px; 
  }
  
  .box {
    flex: 1 1 100%; 
    min-height: 220px;
  }
  
}
